.messageSender {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 90%;

  &_top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;

    form {
      flex: 1;
      display: flex;

      input {
        outline-width: 0;
        border: none;
        padding: 5px 10px;
        margin: 0 10px;
        border-radius: 999px;
        background-color: #eff2f5;

        &:hover {
          background-color: #c8cbcf;
          cursor: pointer;
        }
      }

      button {
        display: none;
      }
    }

    .messageSender_input {
      flex: 1;

      &:hover {
        background-color: #c8cbcf;
        cursor: pointer;
      }
    }
  }

  &_bottom {
    display: flex;
    justify-content: space-evenly;
  }

  &_option {
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;

    &:hover {
      background-color: #eff2f5;
      border-radius: 20px;
    }

    > h3 {
      font-size: medium;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  &_optionText {
    margin-left: 5px;
    cursor: pointer;
    padding: 10px;
  }
}

.postAction {
  display: flex;
  align-items: center;
  color: #1877f2;
  font-weight: bold;
  cursor: pointer;
}

.custom-modal-title {
  .ant-modal-title {
    text-align: center;
    width: 100%;
  }
}
